# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Build
dist/
build/
*.egg-info/

# GNAF Data
data/*.csv
!data/GNAF_CORE.csv # Keep sample for now, but exclude real 15GB file later

# Local Geocoder Output
geocoded.csv
